<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="stylesheets/style.css" rel="stylesheet"/>
</head>
<body ng-app="jetbrains" ng-controller="AppCtrl as app">
<div id="topNav"></div>
<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in app.products">
                {{ product.name }}
            </li>
        </ul>
    </div>
    <div class="row form-inline">
        <div class="form-group" role="form">
            <input class="form-control" type="text" ng-model="app.newProduct"/></div>
        <button class="btn btn-primary" ng-click="app.saveProduct(app.newProduct)">Save Product</button>

    </div>
</div>
</body>
<script src="bower_components/angular/angular.js"></script>
<script src="javascripts/app.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/loadTopNav.js"></script>
</html>