<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple Todo List</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="stylesheets/style.css" rel="stylesheet"/>
</head>
<body ng-app="jetbrains" ng-controller="TodoCtrl as app">
<div id="topNav"></div>
<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="todo in app.todos">
                <span class="glyphicon glyphicon-remove right-padded make-mouse-hand" ng-click="app.removeTodo(todo)"></span><span ng-bind="todo.Value"></span></li>
        </ul>
    </div>
    <div class="row form-inline">
            <form name="form"><input class="form-control" type="text" ng-model="app.newTodo"/>
        <button class="btn btn-primary" ng-click="app.saveTodo(app.newTodo)">Save Todo</button></form>
    </div>
</div>
</body>
<script src="bower_components/angular/angular.js"></script>
<script src="javascripts/app.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/loadTopNav.js"></script>
</html>